form {
    padding: 50px;
    width: 70%;
    margin: auto;
    background-color: #474a4c;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 12p;
    display: block;
    width: 100%;
}

h2 {
    color: #c59b6d;
}